
body, input, textarea {
  font-family: Georgia, "Times New Roman", Serif;
  background-color: black;
  color: white;
}

#main {
  font-size: 30px;
  color: white;
  line-height: 50px;
}

#word {
  font-size:20px;
  color: "white";
  position: absolute;
  top: 20px;
  left: 30px;
}

#title {

  font-family: Georgia, "Times New Roman", Serif;
  text-align:center;
  color: #ddd;
  opacity: 0.4;
  font-style: italic;
}

.sentence {
  opacity: 0.4;
  fill: #ddd;
}
.sentence.highlight {
  fill: #1FC946;
  opacity: 1.0;
}

.line {
  stroke:#C5A438;
  stroke-width:1;
  fill:none;
  pointer-events: none;
}

#vis {
  /*font-size: 2px;*/
}

#vis .word {
  /*opacity: 0.4;*/
}
